

table,tr,td,th{
    border : 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

thead{
    background-color: antiquewhite;
}

tbody{
    background-color: aqua;
}

tfoot{
    background-color: orange;
}

#lunchbreak{
    background-color: white;
}